<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      <a href="{{site.G-link}}{{item.url}}/view?usp=drive_link" {% if item.new_window %} target="_blank" {% endif %}>
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% endif %}
      </a>
    </li>

  {% endfor %}
</ul>
