<ul class="horizontal-list">
  {% assign posts = site.posts | where_exp: "post", "post.driveId" %}
  {% for post in posts %}
    <li class="card">
      <a href="{{ post.url | relative_url }}">
        <span class="header">
          {{ post.title }}

          {% if post.highlight %}
            <mark>{{ post.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if post.desc != false %}
        <p class="body">
          {{ post.desc }}
        </p>
        {% endif %}
      </a>
    </li>
  {% endfor %}
</ul>
