<ul class="cards-list">
  {% assign posts = site.posts | where_exp: "post", "post.driveId" %}
  {% for post in posts %}
    <a class="card" href="{{ post.url | relative_url }}">
      <li>
        <span class="header">
          {{ post.title }}

          {% if post.highlight %}
            <mark>{{ post.highlight }}</mark>
          {% endif %}

        </span>

        <hr />

        {% if post.desc != false %}
        <p class="body">
          {{ post.desc }}
        </p>
        {% endif %}
      </li>
    </a>
  {% endfor %}
</ul>
