<ul class="cards-list">
  {% for post in site.posts %}
    {% if post.tags contains page.post-tag %}
    {% if post.external_url %}
      <a class="card" href="{{ post.external_url }}">
    {% else %}
      <a class="card" href="{{ post.url | relative_url }}">
    {% endif %}     
         <li>
          <span class="header">
            {{ post.title }}

            {% if post.highlight %}
              <mark>{{ post.highlight }}</mark>
            {% endif %}

          </span>

          {% if post.desc %}
          <hr />
          <p class="body">
            {{ post.desc }}
          </p>
          {% endif %}
        </li>
      </a>
    {% endif %}
  {% endfor %}
</ul>
