<ul class="horizontal-list">
  {% for post in site.posts %}
    {% if post.tags contains page.post-tag %}

      <li class="card">
        {% if post.external_url %}
          <a href="{{ post.external_url }}">
        {% else %}
          <a href="{{ post.url | relative_url }}">
        {% endif %}
          <span class="header">
            {{ post.title }}

            {% if post.highlight %}
              <mark>{{ post.highlight }}</mark>
            {% endif %}

          </span>

          <hr />

          {% if post.desc != false %}
          <p class="body">
            {{ post.desc }}
          </p>
          {% endif %}
        </a>
      </li>

    {% endif %}
  {% endfor %}
</ul>
