/* Calendar */

.calendar-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.calendar-month {
  border: 1px solid #ccc;
  padding: .1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    margin-top: .7em;
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 2rem);
  line-height: 1.5rem;
  text-align: center;
}

.calendar-event {
  /*color: #ca644e;*/
  color: #e22;
  /*font-weight: bold;*/
  text-decoration: underline;
  cursor: pointer;
}

.calendar-event:hover {
  /*color: lighten(#ca644e, 10%);*/
  color: lighten(#e22, 10%);
}
